hairdresser-backend/node_modules
hairdresser-backend/files
hairdresser-backend/ssl
hairdresser-app/node_modules
hairdresser-app/android
hairdresser-admin-panel/node_modules
.idea

*.env*
!.env.template
