td {
    vertical-align: middle;
}

.rw-input-addon {
    border-left: #DEE2E6 1px solid !important;
}

.rw-widget-picker {
    border: #DEE2E6 1px solid !important;
    border-radius: 0.375em;
}

.color-square {
    width: 30px;
    height: 30px;
    border-radius: 4px;
}
